* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  overflow-x: hidden;
  max-width: 100vw;
}

.rectangle-titre {
  position: fixed;
  width: 100%;
  height: 7.5vh;
  background-color: #283f4b;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_entete {
  position: fixed;
  width: 5%;
  height: auto;
  display: block;
  margin: 0 auto;
  z-index: 1001; /* ou une autre valeur supérieure à 1000 */
  top:1vh;
  left:1vw;
}

.titre {
  color: white;
  font-size: 1.1vw;
  margin: 0;
}

.button {
  position: absolute;
  left: 50vw;
  top : 50vh;
  transform: translate(-50%, -50%);
  background-color: #283f4b;
  color: white;
  border: none;
  border-radius: 1vw;
  padding: 1.5% 5%; /* réduit le padding pour réduire la taille du bouton */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; /* réduit la taille de la police pour réduire la taille du bouton */
  margin: 4px 2px;
  cursor: pointer;
}

#bouton1 {
  top: 20vh;
  padding: 1.5vw 10vw;
}

#bouton2 {
  top: 40vh;
  padding: 1.5vw 10vw;
}

#bouton3 {
  top: 60vh;
  padding: 1.5vw 10vw;
}

#bouton4 {
  top: 80vh;
  padding: 2vw 13vw;
}



.button:hover {
  background-color: #0f7fff;
}

.text-large {
  font-size: 1.7vw;
  display: block;
}

.text-small {
  font-size: 1.7vh;
  display: block;
}
